@import "tailwindcss";

@theme {
  --font-gravica: "NeuGravica", sans-serif;
  --color-bg-primary: #120016;
  --color-bg-secondary: #d200ff;
  --color-brand-text: #26012f;
  --color-highlight: #bfff00;
}

@font-face {
  font-family: "NeuGravica";
  src: url("/fonts/neue-gravica-extra-light.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "NeuGravica";
  src: url("/fonts/neue-gravica-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NeuGravica";
  src: url("/fonts/neue-gravica-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeuGravica";
  src: url("/fonts/neue-gravica-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NeuGravica";
  src: url("/fonts/neue-gravica-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NeuGravica";
  src: url("/fonts/neue-gravica-black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "NeuGravica", sans-serif;
  background-color: --color-bg-primary;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    filter: blur(20px);
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes border-spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.glowing-border-wrap {
  animation: border-spin 12s linear infinite;
  background: conic-gradient(
    from var(--angle),
    transparent 0deg,
    #d200ff 8%,
    transparent 15%,
    transparent 43%,
    #d200ff 58%,
    transparent 65%,
    transparent 360deg
  );
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

.marquee-scroll {
  animation: marquee 8s linear infinite;
}
